body,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
pre,
kbd,
code,
samp,
label,
figcaption,
.wp-block-quote,
.wp-block-pullquote,
.ct-label,
.site-title,
.entry-meta,
.ct-menu-badge,
.entry-excerpt,
.ct-post-title,
.ct-breadcrumbs,
.ct-header-text,
.ct-product-sku,
.author-box-bio,
.author-box-name,
.ct-contact-info,
.site-description,
.page-description,
.mobile-menu a,
.menu .ct-menu-link,
.comment-reply-title,
.ct-footer-copyright,
.ct-language-switcher,
.entry-summary .price,
[data-products] .price,
.woocommerce-tabs .tabs,
.woocommerce-tabs .ct-accordion-heading,
.ct-shortcuts-bar,
.ct-widget > *,
.ct-dynamic-data-layer,
.ct-dynamic-filter,
.ct-search-results,
.tutor-ratings,
.tutor-meta > *,
.tutor-course-details-title,
.tutor-course-details-actions > a,
.ct-language-switcher ul[data-placement] {
	font-family: var(--theme-font-family);
	font-size: var(--theme-font-size);
	font-weight: var(--theme-font-weight);
	font-style: var(--theme-font-style, inherit);
	line-height: var(--theme-line-height);
	letter-spacing: var(--theme-letter-spacing);
	text-transform: var(--theme-text-transform);
	text-decoration: var(--theme-text-decoration);
}