[data-archive="default"][data-layout="simple"] {
	article {
		gap: var(--card-inner-spacing, 30px);

		&:not(:last-child) {
			margin-bottom: var(--grid-columns-gap, 30px);
		}

		@include media-breakpoint-down (sm) {
			flex-direction: column;
		}

		> .ct-media-container {
			@include media-breakpoint-up (md) {
				max-width: var(--card-media-max-width, 40%);
				flex-shrink: 0;
				margin-inline-end: 0;

				&:not(.boundless-image) {
					align-self: center;
				}
			}
		}

		.card-content {
			display: flex;
			flex-direction: column;
			flex: 1;
			
			@include media-breakpoint-up (md) {
				align-self: center;
			}
		}
	}

	&[data-cards="boxed"] {
		.entry-card .boundless-image {
			@include media-breakpoint-up (md) {
				width: 100%;
				margin-bottom: calc(var(--card-inner-spacing, 30px) * -1);
			}
		}
	}
}