.wc-block-checkbox-list li label,
.wc-block-components-checkbox__label,
.woocommerce-widget-layered-nav-list li {
	display: flex;
	align-items: center;
	width: 100%;
	
	.count,
	.wc-filter-element-label-list-count {
		opacity: 1;
		font-size: 80%;
		margin-inline-start: auto;
	}
}

.wc-block-checkbox-list__checkbox {
	width: 100%;

	.wc-block-components-checkbox__mark {
		display: none;
	}
}

.wc-block-checkbox-list li:not([hidden]),
.woocommerce-widget-layered-nav-list li:not([hidden]) a {
	display: flex;
	align-items: center;

	input[type="checkbox"] {
		--top: 0;
	}
}