.woocommerce-info, 
.woocommerce-error, 
.woocommerce-message,
.woocommerce-thankyou-order-received {
	display: flex;
	position: relative;
	font-size: 15px;
	color: var(--theme-text-color);
	padding: 10px;
	min-height: 65px;
	clear: both;
	border-radius: 5px;
	margin-bottom: 2rem;
	background: var(--background-color);

	--theme-link-initial-color: var(--theme-text-color);

	@include media-breakpoint-down (xs) {
		align-items: flex-start;
		flex-direction: column;
		padding: 15px;
	}

	@include media-breakpoint-up (sm) {
		align-items: center;
		padding-inline-start: 55px;
	}

	li {
		width: 100%;
		margin-bottom: 0.3em;
	}

	.button,
	.showlogin,
	.restore-item {
		order: 2;
		--theme-button-font-size: 14px;
		--theme-button-min-height: 45px;
		--theme-button-padding: 5px 20px;

		@include media-breakpoint-down (xs) {
			margin-top: 10px !important;
		}

		@include media-breakpoint-up (sm) {
			margin-inline-start: auto !important;
		}
	}

	&:before {
		position: absolute;
		width: 18px;
		height: 18px;
		font-family: 'woo';
		content: '\e901';
		font-size: 18px;
		line-height: 18px;
		opacity: 0.9;

		@include media-breakpoint-down (xs) {
			display: none;
		}

		@include media-breakpoint-up (sm) {
			top: 23px;
			inset-inline-start: 20px;
		}
	}

	&:after {
		display: table;
		content: '';
		clear: both;
	}
}


.woocommerce ul.woocommerce-error {
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2rem;

	li {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.3em;
	}
}