.ct-breadcrumbs {
	color: var(--theme-text-color);
}

.ct-breadcrumbs[data-source="default"] {
	
	> span {
		display: inline-flex;
		align-items: center;
		vertical-align: middle;

		.separator {
			margin: 0 8px;
		}
	}

	.ct-home-icon {
		position: relative;
		top: -0.15em;
		vertical-align: middle;
	}
}