[data-frame="default"] {
	border: var(--theme-frame-size, 0px) solid var(--theme-frame-color);

	&:before, &:after {
		position: fixed;
		content: '';
		z-index: 99999;
		left: 0;
		width: 100%;
		height: var(--theme-frame-size, 0px);
		background: var(--theme-frame-color);
	}

	&:before {
		top: calc(var(--admin-bar, 0px));
	}

	&:after {
		bottom: 0;
	}
}