.post-edit-link {
	display: flex;
	align-items: center;
	font-size: 15px;
	margin-top: var(--theme-content-spacing);
	--theme-link-initial-color: var(--theme-text-color);

	&:before {
		font-family: 'dashicons';
		content: "\f464";
		margin-inline-end: 5px;
	}
}