.ct-order-review {
	align-self: flex-start;
	border: 2px solid var(--theme-border-color);

	@include media-breakpoint-down (sm) {
		padding: 30px 25px;
	}

	@include media-breakpoint-up (md) {
		padding: 40px 35px;
	}


	table.shop_table {

		.product-total, tfoot td {
			text-align: var(--theme-table-text-align, end);
		}
	}
}