.single-product article {

	> .related, 
	> .up-sells {
		margin-top: 50px;

		> h2 {
			font-size: 20px;
			margin-bottom: 30px;	
		}

		// slider type
		.flexy-container [data-products] {
			gap: 0;
			margin-inline: calc(var(--grid-columns-gap, 30px) / -2);

			.flexy-item {
				flex: 0 0 var(--grid-columns-width, 25%);
				width: var(--grid-columns-width, 25%);
				padding-inline: calc(var(--grid-columns-gap, 30px) / 2);
			}

			.product {
				height: 100%;
			}
		}
	}
}